.home-bg {
    background-image: url("background.jpg");
    /* background-size: 90%; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.drop-pos {
    margin-right: 7px;
}

.btn-edit {
    background-color: white;
    color: #262E78;
    font-weight: bold; 
    font-size: 21px;
    border-color: white;
}

.menu-edit {
    background-color: #262E78;
    margin-right: 40px;
    text-align: center;
    font-size: 23px;
}

.bold-font {
    font-weight: bold;
}

.center-text {
    padding-top: 160px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button-position {
    padding-left: 120px;
    padding-top: 150px;
    /* padding-bottom: 75px; */
}

.btn:hover {
    background: #262E78;
    color: #5AA6FF;
}

.btn-outline-primary {
    color: #262E78;
    border-color: #000000;
    border-width: 2.5px;
}

.selected {
    color: #262E78;
    text-decoration: underline;
}

.clr-lightblue {
    color: #5AA6FF;
}

.clr-darkblue {
    color: #262E78;
}

.clr-black {
    color: black;
}

.clr-white {
    color: white;
}

.bio-title {
    font-weight: bold;
    color: #262E78;
    font-size: 50px;
    padding-right: 210px;  
}

.bio-positioning {
    display: flex;
    flex-direction: row;
    font-size: 21px;
}

.photo-position {
    flex: 3;
    padding-left: 20px;
    padding-top: 90px;
}

.bio-box {
    flex: 7;
    background-color: #262E78;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.border-bio {
    background-color: white;
    border-style: solid;
    border-width: 40px;
    border-color: #262E78;
}

.text-align {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.text-var {
    flex: 3;
    text-align: left;
    padding-left: 25px;
}

.colon {
    flex: 1;
}

.text-val {
    flex: 9;
    text-align: left;
    padding-right: 25px;
}

.desc {
    text-align: left;
    padding-top: 12px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
}

.skill-position {
    flex: 5;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 320px;
    padding-bottom: 60px;
}

.skill-box {
    background-color: #5AA6FF;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    border-radius: 2%;
}

.edu-line {
    justify-content: left;
    align-items: left;
    padding-top: 10px;
    padding-left: 28px;
}

.edu-box {
    background-color: white;
    border-style: solid;
    border-width: 4px;
    border-color: #5AA6FF;
    border-top-color: white;
    border-left-color: white;
    width: 140px;
    padding-left: 5px;
    border-radius: 2%;
}

.edu-data {
    display: flex;
    flex-direction: row;
    /* padding-top: 20px; */
}

.dotyline-resize {
    height: 80px;
}

.yline-resize {
    height: 64px;
}

.xline-resize {
    width: 60px;
    height: 28px;
}

.xline-resize-big {
    width: 100px;
    height: 45px;;
}

.year-pos {
    justify-content: center;
    text-align: center;
    padding-left: 300px;
    flex: 4 ;
    /* background-color: aliceblue; */
}

.line-pos {
    justify-content: center;
    text-align: center;
    flex: 2;
    /* background-color: aqua; */
}

.school-pos {
    justify-content: center;
    /* text-align: center; */
    text-align: left;
    padding-left: 50px;
    flex: 12;
    /* background-color: aquamarine; */
}

.underline-blue {
    /* text-decoration: underline;
    text-decoration-color: white; */
    width: 240px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-bottom-color: #5AA6FF;
    padding-bottom: 5px;
    justify-content: center;
    /* text-decoration-style: solid; */
}

.contact-struc {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.contact-underline {
    width: 300px;
    justify-content: center;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-bottom-color: #5AA6FF;
    padding-bottom: 5px;
}

.contact-align {
    display: flex;
    flex-direction: row;
}

.contact-left {
    flex: 14;
}

.contact-var {
    flex: 3;
    text-align: left;
}

.contact-mid {
    flex: 1;
}

.contact-val {
    flex: 10;
    text-align: left;
}

.contact-right {
    flex: 12;
}

.img-align {
    display: flex;
    flex-direction: row;
}

.img-left {
    flex: 11;
}

.img-mid {
    flex: 19;
}

.img-right {
    flex: 11;
}

.contact-img {
    width: 120px;
    border-radius: 20%;
}

.center-ex {
    padding-top: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ex-struc {
    display: flex;
    flex-direction: row;
}

.error-text-h1 {
    color: #5AA6FF;
    font-size: 80px;
    margin-left: 380px;
}

.error-text-h4 {
    color: #262E78;
    font-size: 30px;
    margin-left: 460px;
}

.error-msg {
    color: #5AA6FF;
    font-size: 22px;
    margin-left: 430px;
}

.img-size {
    width: 500px;
}

.home-text {
    color: #262E78;
    text-decoration: underline;
}

/* .title-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    padding: 2px;
    width: 500px;
    justify-content: center;
    align-items: center;
    background: #5AA6FF;
} */

